
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>This can be viewed by anyone</p>

<a class="btn btn-danger" asp-controller="MembersZone" asp-action="MemberBenefits">Discover our member benefits!</a>
