@page
@model Pri.Identity.Web.Pages.PrivatePageStudentModel
@{
    ViewData["Title"] = "PrivatePageStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PrivatePageStudent</h1>

<p>This page can only be viewed if user is logged in. Because of [Authorize] attribute on PageModel class</p>

